RewriteEngine On

RewriteCond %{QUERY_STRING} artistId=3$
RewriteRule ^artist.php$ /artist/peter-corbett? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=9$
RewriteRule ^artist.php$ /artist/john-sutherst? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=21$
RewriteRule ^artist.php$ /artist/jason-jones? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=38$
RewriteRule ^artist.php$ /artist/nathan-pendlebury? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=45$
RewriteRule ^artist.php$ /artist/joe-thompson? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=48$
RewriteRule ^artist.php$ /artist/roy-munday? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=50$
RewriteRule ^artist.php$ /artist/garry-lawlan? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=53$
RewriteRule ^artist.php$ /artist/paul-r-francis? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=59$
RewriteRule ^artist.php$ /artist/barbara-watterson? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=61$
RewriteRule ^artist.php$ /artist/gail-pickett? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=63$
RewriteRule ^artist.php$ /artist/peter-carr? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=66$
RewriteRule ^artist.php$ /artist/grahame-ashcroft? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=67$
RewriteRule ^artist.php$ /artist/mark-kemp? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=68$
RewriteRule ^artist.php$ /artist/ken-lewis? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=70$
RewriteRule ^artist.php$ /artist/michelle-burrows? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=73$
RewriteRule ^artist.php$ /artist/chris-fagan? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=82$
RewriteRule ^artist.php$ /artist/paul-newport? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=89$
RewriteRule ^artist.php$ /artist/gary-beach? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=98$
RewriteRule ^artist.php$ /artist/john-jennings? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=100$
RewriteRule ^artist.php$ /artist/winston-douglas? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=101$
RewriteRule ^artist.php$ /artist/daniel-john? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=103$
RewriteRule ^artist.php$ /artist/lorna-bell? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=111$
RewriteRule ^artist.php$ /artist/stephen-collett? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=116$
RewriteRule ^artist.php$ /artist/helene-gilmour? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=121$
RewriteRule ^artist.php$ /artist/andrew-collin? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=123$
RewriteRule ^artist.php$ /artist/jane-adams? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=124$
RewriteRule ^artist.php$ /artist/bev-evans? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=127$
RewriteRule ^artist.php$ /artist/marie-ryder? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=129$
RewriteRule ^artist.php$ /artist/richard-pryke? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=130$
RewriteRule ^artist.php$ /artist/simon-birtall? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=131$
RewriteRule ^artist.php$ /artist/sophie-green? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=133$
RewriteRule ^artist.php$ /artist/patrick-ferguson? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=137$
RewriteRule ^artist.php$ /artist/tess-bridges? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=139$
RewriteRule ^artist.php$ /artist/james-lavott? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=140$
RewriteRule ^artist.php$ /artist/susan-finch? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=144$
RewriteRule ^artist.php$ /artist/lisa-holmes? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=145$
RewriteRule ^artist.php$ /artist/john-ford? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=148$
RewriteRule ^artist.php$ /artist/simon-barrow? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=149$
RewriteRule ^artist.php$ /artist/frank-linnett? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=152$
RewriteRule ^artist.php$ /artist/martin-jones? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=153$
RewriteRule ^artist.php$ /artist/alice-lenkiewicz? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=154$
RewriteRule ^artist.php$ /artist/tony-evans? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=155$
RewriteRule ^artist.php$ /artist/danny-hampson? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=156$
RewriteRule ^artist.php$ /artist/graeme-murray? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=157$
RewriteRule ^artist.php$ /artist/judith-hill? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=159$
RewriteRule ^artist.php$ /artist/mick-gill? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=161$
RewriteRule ^artist.php$ /artist/eli-pascall--willis? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=163$
RewriteRule ^artist.php$ /artist/phillip-lowe? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=166$
RewriteRule ^artist.php$ /artist/forrest-brothers? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=167$
RewriteRule ^artist.php$ /artist/ant-e-art? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=168$
RewriteRule ^artist.php$ /artist/james-lawrenson? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=169$
RewriteRule ^artist.php$ /artist/manuel-rodrigues? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=170$
RewriteRule ^artist.php$ /artist/journeyboy? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=171$
RewriteRule ^artist.php$ /artist/jackie-stevens? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=173$
RewriteRule ^artist.php$ /artist/matthew-thomas? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=174$
RewriteRule ^artist.php$ /artist/stella-lang? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=175$
RewriteRule ^artist.php$ /artist/dave-bullock? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=176$
RewriteRule ^artist.php$ /artist/colin-reid? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=177$
RewriteRule ^artist.php$ /artist/bill-corris? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=179$
RewriteRule ^artist.php$ /artist/mark-mcgowan? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=180$
RewriteRule ^artist.php$ /artist/susan-lee-brown? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=181$
RewriteRule ^artist.php$ /artist/breda-whyte? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=182$
RewriteRule ^artist.php$ /artist/pete-chapple? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=183$
RewriteRule ^artist.php$ /artist/colin-ross-jack? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=184$
RewriteRule ^artist.php$ /artist/nigel-bird? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=186$
RewriteRule ^artist.php$ /artist/dom-wilson? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=187$
RewriteRule ^artist.php$ /artist/anna-cade? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=188$
RewriteRule ^artist.php$ /artist/andy-banks? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=189$
RewriteRule ^artist.php$ /artist/lucy-wilson? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=190$
RewriteRule ^artist.php$ /artist/daniel-moores? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=191$
RewriteRule ^artist.php$ /artist/howard-gardener? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=192$
RewriteRule ^artist.php$ /artist/maria-bayliss? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=193$
RewriteRule ^artist.php$ /artist/simon-parker? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=194$
RewriteRule ^artist.php$ /artist/tony-coldicutt? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=195$
RewriteRule ^artist.php$ /artist/vicki-olverson? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=196$
RewriteRule ^artist.php$ /artist/john-kneen? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=197$
RewriteRule ^artist.php$ /artist/chris-mills? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=198$
RewriteRule ^artist.php$ /artist/linda-jones? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=199$
RewriteRule ^artist.php$ /artist/andrew-kinmont? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=200$
RewriteRule ^artist.php$ /artist/gianni-pisanu? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=201$
RewriteRule ^artist.php$ /artist/ewa-konior? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=202$
RewriteRule ^artist.php$ /artist/sue-lemasurier? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=203$
RewriteRule ^artist.php$ /artist/marcin-konior? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=204$
RewriteRule ^artist.php$ /artist/david-tunstall? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=205$
RewriteRule ^artist.php$ /artist/tom-donohue? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=206$
RewriteRule ^artist.php$ /artist/heidi-clark? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=207$
RewriteRule ^artist.php$ /artist/emma-hillier? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=208$
RewriteRule ^artist.php$ /artist/patrick-higgins? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=209$
RewriteRule ^artist.php$ /artist/ros-willis? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=210$
RewriteRule ^artist.php$ /artist/ricky-young? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=211$
RewriteRule ^artist.php$ /artist/david-brightmore? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=212$
RewriteRule ^artist.php$ /artist/malcolm-jones? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=213$
RewriteRule ^artist.php$ /artist/neil-arms? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=214$
RewriteRule ^artist.php$ /artist/verity-breeze? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=215$
RewriteRule ^artist.php$ /artist/clare-ellis? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=216$
RewriteRule ^artist.php$ /artist/jazamin-sinclair? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=217$
RewriteRule ^artist.php$ /artist/glyn-akroyd? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=218$
RewriteRule ^artist.php$ /artist/john-hogan? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=219$
RewriteRule ^artist.php$ /artist/andrew-lewis? [R=301,L]
RewriteCond %{QUERY_STRING} artistId=220$
RewriteRule ^artist.php$ /artist/janet-welsby? [R=301,L]
