RewriteEngine On

RewriteRule ^sitemap.xml$ /sitemap_index.xml [R=301,L]

RewriteRule ^artist/ali-barker$ /product-category/ali-barker [R=301,L]
RewriteRule ^artist/alistair-parker$ /product-category/alistair-parker [R=301,L]
RewriteRule ^artist/andrew-kinmont$ /product-category/andrew-kinmont [R=301,L]
RewriteRule ^artist/anne-knight$ /product-category/anne-knight [R=301,L]
RewriteRule ^artist/anthony-gribbin$ /product-category/anthony-gribbin [R=301,L]
RewriteRule ^artist/ben-hughes$ /product-category/ben-hughes [R=301,L]
RewriteRule ^artist/bethany-fuller$ /product-category/bethany-fuller [R=301,L]
RewriteRule ^artist/bryn-davies$ /product-category/bryn-davies [R=301,L]
RewriteRule ^artist/catherine-evans-jones$ /product-category/catherine-evans-jones [R=301,L]
RewriteRule ^artist/christopher-turrell-watts$ /product-category/christopher-turrell-watts [R=301,L]
RewriteRule ^artist/clare-bates$ /product-category/clare-bates [R=301,L]
RewriteRule ^artist/clare-ellis$ /product-category/clare-ellis [R=301,L]
RewriteRule ^artist/daniel-john$ /product-category/daniel-john [R=301,L]
RewriteRule ^artist/david-andrews$ /product-category/david-andrews [R=301,L]
RewriteRule ^artist/david-brightmore$ /product-category/david-brightmore [R=301,L]
RewriteRule ^artist/david-broadfoot$ /product-category/david-broadfoot [R=301,L]
RewriteRule ^artist/david-grimbleby$ /product-category/david-grimbleby [R=301,L]
RewriteRule ^artist/david-john-pearson$ /product-category/david-john-pearson [R=301,L]
RewriteRule ^artist/faith-bebbington$ /product-category/faith-bebbington [R=301,L]
RewriteRule ^artist/frank-linnett$ /product-category/frank-linnett [R=301,L]
RewriteRule ^artist/garry-lawlan$ /product-category/garry-lawlan [R=301,L]
RewriteRule ^artist/gary-beach$ /product-category/gary-beach [R=301,L]
RewriteRule ^artist/grahame-ashcroft$ /product-category/grahame-ashcroft [R=301,L]
RewriteRule ^artist/hazel-thomson$ /product-category/hazel-thomson [R=301,L]
RewriteRule ^artist/helen-biles$ /product-category/helen-biles [R=301,L]
RewriteRule ^artist/helene-marie-gilmour$ /product-category/helene-marie-gilmour [R=301,L]
RewriteRule ^artist/ian-lawson$ /product-category/ian-lawson [R=301,L]
RewriteRule ^artist/jackie-stevens$ /product-category/jackie-stevens [R=301,L]
RewriteRule ^artist/jacqui-chapman$ /product-category/jacqui-chapman [R=301,L]
RewriteRule ^artist/jade-danford$ /product-category/jade-danford [R=301,L]
RewriteRule ^artist/james-murphy$ /product-category/james-murphy [R=301,L]
RewriteRule ^artist/jane-adams$ /product-category/jane-adams [R=301,L]
RewriteRule ^artist/jay-hampton$ /product-category/jay-hampton [R=301,L]
RewriteRule ^artist/jayne-hillis$ /product-category/jayne-hillis [R=301,L]
RewriteRule ^artist/jefferson-waters$ /product-category/jefferson-waters [R=301,L]
RewriteRule ^artist/jessica-a-stanley$ /product-category/jessica-arrowsmith-stanley [R=301,L]
RewriteRule ^artist/jim-smith$ /product-category/jim-smith [R=301,L]
RewriteRule ^artist/joanne-thompson$ /product-category/joanne-thompson [R=301,L]
RewriteRule ^artist/joe-thompson$ /product-category/joe-thompson [R=301,L]
RewriteRule ^artist/john-petch$ /product-category/john-petch [R=301,L]
RewriteRule ^artist/john-sutherst$ /product-category/john-sutherst [R=301,L]
RewriteRule ^artist/john-whitelaw$ /product-category/john-whitelaw [R=301,L]
RewriteRule ^artist/jon-paul-lavelle$ /product-category/jon-paul-lavelle [R=301,L]
RewriteRule ^artist/josie-jenkins$ /product-category/josie-jenkins [R=301,L]
RewriteRule ^artist/julie-james-turner$ /product-category/julie-james-turner [R=301,L]
RewriteRule ^artist/julie-jones$ /product-category/julie-jones [R=301,L]
RewriteRule ^artist/karen-gilbert$ /product-category/karen-gilbert [R=301,L]
RewriteRule ^artist/katherine-dereli$ /product-category/katherine-dereli [R=301,L]
RewriteRule ^artist/keith-sweeney$ /product-category/keith-sweeney [R=301,L]
RewriteRule ^artist/ken-lewis$ /product-category/ken-lewis [R=301,L]
RewriteRule ^artist/kirsten-little$ /product-category/kirsten-little [R=301,L]
RewriteRule ^artist/kristel-pillkahn$ /product-category/kristel-pillkahn [R=301,L]
RewriteRule ^artist/lorraine-harrison$ /product-category/lorraine-harrison [R=301,L]
RewriteRule ^artist/lottie-hulse$ /product-category/lottie-hulse [R=301,L]
RewriteRule ^artist/marianthi-lainas$ /product-category/marianthi-lainas [R=301,L]
RewriteRule ^artist/mark-chapman$ /product-category/mark-chapman [R=301,L]
RewriteRule ^artist/mark-mcgowan$ /product-category/mark-mcgowan [R=301,L]
RewriteRule ^artist/mark-nelson$ /product-category/mark-nelson [R=301,L]
RewriteRule ^artist/martin-jones$ /product-category/martin-jones [R=301,L]
RewriteRule ^artist/martin-kavanagh$ /product-category/martin-kavanagh [R=301,L]
RewriteRule ^artist/max-bullock$ /product-category/max-bullock [R=301,L]
RewriteRule ^artist/mike-rickett$ /product-category/mike-rickett [R=301,L]
RewriteRule ^artist/nathan-pendlebury$ /product-category/nathan-pendlebury [R=301,L]
RewriteRule ^artist/nicky-armstrong$ /product-category/nicky-armstrong [R=301,L]
RewriteRule ^artist/nicola-rowley$ /product-category/nicola-rowley [R=301,L]
RewriteRule ^artist/olga-snell$ /product-category/olga-snell [R=301,L]
RewriteRule ^artist/paul-anderson$ /product-category/paul-anderson [R=301,L]
RewriteRule ^artist/paul-r-francis$ /product-category/paul-r-francis [R=301,L]
RewriteRule ^artist/paul-vera-broadbent$ /product-category/paul-vera-broadbent [R=301,L]
RewriteRule ^artist/paula-tasker-lynch$ /product-category/paula-tasker-lynch [R=301,L]
RewriteRule ^artist/peter-corbett$ /product-category/peter-corbett [R=301,L]
RewriteRule ^artist/phil-mckay$ /product-category/phil-mckay [R=301,L]
RewriteRule ^artist/richard-pryke$ /product-category/richard-pryke [R=301,L]
RewriteRule ^artist/ricky-young$ /product-category/ricky-young [R=301,L]
RewriteRule ^artist/roy-munday$ /product-category/roy-munday [R=301,L]
RewriteRule ^artist/simon-job$ /product-category/simon-job [R=301,L]
RewriteRule ^artist/sophie-green$ /product-category/sophie-green [R=301,L]
RewriteRule ^artist/stephen-curtis$ /product-category/stephen-curtis [R=301,L]
RewriteRule ^artist/stephen-mcnally$ /product-category/stephen-mcnally [R=301,L]
RewriteRule ^artist/sue-lemasurier$ /product-category/sue-lemasurier [R=301,L]
RewriteRule ^artist/susan-aigelsreiter$ /product-category/susan-aigelsreiter [R=301,L]
RewriteRule ^artist/susan-finch$ /product-category/susan-finch [R=301,L]
RewriteRule ^artist/susan-lee-brown$ /product-category/susan-lee-brown [R=301,L]
RewriteRule ^artist/tony-evans$ /product-category/tony-evans [R=301,L]
RewriteRule ^artist/verity-breeze$ /product-category/verity-breeze [R=301,L]
RewriteRule ^artist/winston-douglas$ /product-category/winston-douglas [R=301,L]

RewriteRule ^pages/customers/buyart.php$ /shop [R=301,L]
RewriteRule ^pages/customers/buy_art.php$ /shop [R=301,L]
RewriteRule ^pages/customers/buy-art.php$ /shop [R=301,L]
RewriteRule ^pages/customers/search-art.php$ /shop [R=301,L]
RewriteRule ^pages/gallery.php$ /exhibitions [R=301,L]
RewriteRule ^pages/exhibition-archive.php$ /exhibition-archive [R=301,L]
RewriteRule ^pages/video.php$ /blog [R=301,L]
RewriteRule ^pages/customers/framing.php$ /framing [R=301,L]
RewriteRule ^pages/customers/valuationandrestoration.php$ /valuation-restoration [R=301,L]
RewriteRule ^pages/customers/corporate-art.php$ /corporate-art [R=301,L]
RewriteRule ^pages/customers/corporate_art.php$ /corporate-art [R=301,L]
RewriteRule ^pages/customers/case-studies.php$ /corporate-art [R=301,L]
RewriteRule ^pages/customers/commission-art.php$ /commission-art [R=301,L]
RewriteRule ^pages/customers/rent-art.php$ /corporate-art/rent-art [R=301,L]
RewriteRule ^pages/customers/register.php$ /about/mailing-list [R=301,L]
RewriteRule ^art-classes.php$ /art-classes [R=301,L]
RewriteRule ^weddings.php$ /weddings [R=301,L]
RewriteRule ^pages/news.php$ /blog [R=301,L]
RewriteRule ^pages/news-archive.php$ /blog [R=301,L]
RewriteRule ^pages/press.php$ /blog [R=301,L]
RewriteRule ^pages/press-archive.php$ /blog [R=301,L]
RewriteRule ^pages/press-releases.php$ /about/press-releases [R=301,L]
RewriteRule ^pages/about-us.php$ /about [R=301,L]
RewriteRule ^pages/customers/faqs2.php$ /about/faqs [R=301,L]
RewriteRule ^pages/testamonials.php$ /about [R=301,L]
RewriteRule ^pages/customers/legal.php$ /about [R=301,L]
RewriteRule ^pages/contact.php$ /about/contact [R=301,L]
RewriteRule ^pages/links.php$ /about [R=301,L]
RewriteRule ^schools.php$ http://schools.dot-art.com [R=301,L]

# BEGIN W3TC Browser Cache
<IfModule mod_mime.c>
    AddType text/css .css
    AddType text/x-component .htc
    AddType application/x-javascript .js
    AddType application/javascript .js2
    AddType text/javascript .js3
    AddType text/x-js .js4
    AddType text/html .html .htm
    AddType text/richtext .rtf .rtx
    AddType image/svg+xml .svg .svgz
    AddType text/plain .txt
    AddType text/xsd .xsd
    AddType text/xsl .xsl
    AddType text/xml .xml
    AddType video/asf .asf .asx .wax .wmv .wmx
    AddType video/avi .avi
    AddType image/bmp .bmp
    AddType application/java .class
    AddType video/divx .divx
    AddType application/msword .doc .docx
    AddType application/vnd.ms-fontobject .eot
    AddType application/x-msdownload .exe
    AddType image/gif .gif
    AddType application/x-gzip .gz .gzip
    AddType image/x-icon .ico
    AddType image/jpeg .jpg .jpeg .jpe
    AddType application/json .json
    AddType application/vnd.ms-access .mdb
    AddType audio/midi .mid .midi
    AddType video/quicktime .mov .qt
    AddType audio/mpeg .mp3 .m4a
    AddType video/mp4 .mp4 .m4v
    AddType video/mpeg .mpeg .mpg .mpe
    AddType application/vnd.ms-project .mpp
    AddType application/x-font-otf .otf
    AddType application/vnd.ms-opentype .otf
    AddType application/vnd.oasis.opendocument.database .odb
    AddType application/vnd.oasis.opendocument.chart .odc
    AddType application/vnd.oasis.opendocument.formula .odf
    AddType application/vnd.oasis.opendocument.graphics .odg
    AddType application/vnd.oasis.opendocument.presentation .odp
    AddType application/vnd.oasis.opendocument.spreadsheet .ods
    AddType application/vnd.oasis.opendocument.text .odt
    AddType audio/ogg .ogg
    AddType application/pdf .pdf
    AddType image/png .png
    AddType application/vnd.ms-powerpoint .pot .pps .ppt .pptx
    AddType audio/x-realaudio .ra .ram
    AddType application/x-shockwave-flash .swf
    AddType application/x-tar .tar
    AddType image/tiff .tif .tiff
    AddType application/x-font-ttf .ttf .ttc
    AddType application/vnd.ms-opentype .ttf .ttc
    AddType audio/wav .wav
    AddType audio/wma .wma
    AddType application/vnd.ms-write .wri
    AddType application/font-woff .woff
    AddType application/vnd.ms-excel .xla .xls .xlsx .xlt .xlw
    AddType application/zip .zip
</IfModule>
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresByType text/css A31536000
    ExpiresByType text/x-component A31536000
    ExpiresByType application/x-javascript A31536000
    ExpiresByType application/javascript A31536000
    ExpiresByType text/javascript A31536000
    ExpiresByType text/x-js A31536000
    ExpiresByType text/html A3600
    ExpiresByType text/richtext A3600
    ExpiresByType image/svg+xml A3600
    ExpiresByType text/plain A3600
    ExpiresByType text/xsd A3600
    ExpiresByType text/xsl A3600
    ExpiresByType text/xml A3600
    ExpiresByType video/asf A31536000
    ExpiresByType video/avi A31536000
    ExpiresByType image/bmp A31536000
    ExpiresByType application/java A31536000
    ExpiresByType video/divx A31536000
    ExpiresByType application/msword A31536000
    ExpiresByType application/vnd.ms-fontobject A31536000
    ExpiresByType application/x-msdownload A31536000
    ExpiresByType image/gif A31536000
    ExpiresByType application/x-gzip A31536000
    ExpiresByType image/x-icon A31536000
    ExpiresByType image/jpeg A31536000
    ExpiresByType application/json A31536000
    ExpiresByType application/vnd.ms-access A31536000
    ExpiresByType audio/midi A31536000
    ExpiresByType video/quicktime A31536000
    ExpiresByType audio/mpeg A31536000
    ExpiresByType video/mp4 A31536000
    ExpiresByType video/mpeg A31536000
    ExpiresByType application/vnd.ms-project A31536000
    ExpiresByType application/x-font-otf A31536000
    ExpiresByType application/vnd.ms-opentype A31536000
    ExpiresByType application/vnd.oasis.opendocument.database A31536000
    ExpiresByType application/vnd.oasis.opendocument.chart A31536000
    ExpiresByType application/vnd.oasis.opendocument.formula A31536000
    ExpiresByType application/vnd.oasis.opendocument.graphics A31536000
    ExpiresByType application/vnd.oasis.opendocument.presentation A31536000
    ExpiresByType application/vnd.oasis.opendocument.spreadsheet A31536000
    ExpiresByType application/vnd.oasis.opendocument.text A31536000
    ExpiresByType audio/ogg A31536000
    ExpiresByType application/pdf A31536000
    ExpiresByType image/png A31536000
    ExpiresByType application/vnd.ms-powerpoint A31536000
    ExpiresByType audio/x-realaudio A31536000
    ExpiresByType image/svg+xml A31536000
    ExpiresByType application/x-shockwave-flash A31536000
    ExpiresByType application/x-tar A31536000
    ExpiresByType image/tiff A31536000
    ExpiresByType application/x-font-ttf A31536000
    ExpiresByType application/vnd.ms-opentype A31536000
    ExpiresByType audio/wav A31536000
    ExpiresByType audio/wma A31536000
    ExpiresByType application/vnd.ms-write A31536000
    ExpiresByType application/font-woff A31536000
    ExpiresByType application/vnd.ms-excel A31536000
    ExpiresByType application/zip A31536000
</IfModule>
<IfModule mod_deflate.c>
    <IfModule mod_headers.c>
        Header append Vary User-Agent env=!dont-vary
    </IfModule>
        AddOutputFilterByType DEFLATE text/css text/x-component application/x-javascript application/javascript text/javascript text/x-js text/html text/richtext image/svg+xml text/plain text/xsd text/xsl text/xml image/x-icon application/json
    <IfModule mod_mime.c>
        # DEFLATE by extension
        AddOutputFilter DEFLATE js css htm html xml
    </IfModule>
</IfModule>
# END W3TC Browser Cache
# BEGIN W3TC Page Cache core
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    RewriteCond %{HTTP:Accept-Encoding} gzip
    RewriteRule .* - [E=W3TC_ENC:_gzip]
    RewriteCond %{HTTP_COOKIE} w3tc_preview [NC]
    RewriteRule .* - [E=W3TC_PREVIEW:_preview]
    RewriteCond %{REQUEST_METHOD} !=POST
    RewriteCond %{QUERY_STRING} =""
    RewriteCond %{REQUEST_URI} \/$
    RewriteCond %{HTTP_COOKIE} !(comment_author|wp\-postpass|w3tc_logged_out|wordpress_logged_in|wptouch_switch_toggle) [NC]
    RewriteCond "%{DOCUMENT_ROOT}/wp-content/cache/page_enhanced/%{HTTP_HOST}/%{REQUEST_URI}/_index%{ENV:W3TC_PREVIEW}.html%{ENV:W3TC_ENC}" -f
    RewriteRule .* "/wp-content/cache/page_enhanced/%{HTTP_HOST}/%{REQUEST_URI}/_index%{ENV:W3TC_PREVIEW}.html%{ENV:W3TC_ENC}" [L]
</IfModule>
# END W3TC Page Cache core
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress
